/* Mitchell Copeland - CP1406 Assignment 1 - Slammers Beach CSS */
/* This is set out in my OCD fashion from when I learnt programming */
/* The background-blue image is a gradient used to give the site less of a "static" look */
html, body 
{text-align: center;}

p {text-align: left;}

body
{margin: 0;
padding: 0;
background-image:url(images/background_blue.png);
text-align: left;
font-family:serif;
font-size: 14px;
color: #F1F5F8;}*
{margin: 0 auto 0 auto;
text-align:left;}

html, body {text-align: center;}

p {text-align: left;}

.dotted_line_thing
{background-image:url(images/dotted_line_yellow.png);
background-repeat:no-repeat;
clear:both;
width:900px;
height:30px;}

#header h1
{display:block;
float:right;
margin-left:18px;
color:#FFFFFF;
text-align:left;
font-size:28px;
font-weight:bold;
font-family:serif;
padding-right:20px;}

#header ul
{display:block;
padding: 0px;
list-style-type: none;
overflow:hidden;
width:650px;
float:left;}

#header ul li , #header ul li a, #header ul li a:visited
{float:left;
margin: 0px;
text-align:center;
line-height:40px;
color:#FFFFFF;
font-size:18px;
padding-left:6px;
padding-right:15px;}

#header ul li a:hover{color:yellow;}

#main 
{width:916px;
margin-top:30px;
margin-bottom:15px;}

#main .left_main
{width:458px;
text-align:center;
float:left;}

#main .left_main h1
{padding-top:20px;
padding-left:40px;
color:#FFFFFF;
font-size:28px;}

#main .right_main
{padding-left:0px;
height:auto;
width:458px;
padding-bottom:30px;
float:left;}

#main .right_main h2
{font:serif;
font-size:24px;
padding-bottom:15px;}

#main .right_main p
{line-height:20px;}

#page
{margin: 0 auto 0 auto; 
 margin-top:35px;
 display: block; 
 height:auto;
 position: relative; 
 overflow: hidden; 
 width: 920px;}

#footer 
{display:block;
width: 920px;
height:75px;
text-align:left;
font-size:10px;
line-height:25px;}

#footer, #footer a:visited
{color:yellow;}

#footer a:hover
{color:#FFFFFF;}